.paperManage {
  font-family: "微软雅黑";
}
.paperManage a {
  text-decoration: none;
}
.paperManage li {
  list-style: none;
}
.paperManage .formhead a:hover {
  text-decoration: none;
  color: white;
  background: blue;
}
.paperManage {
  font-style: normal;
}
.paperManage .head {
  width: 100%;
  padding-left: 10px;
  background: deepskyblue;
  color: white;
  text-align: left;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
}
.paperManage .xian {
  font-weight: bold;
  color: blue;
  margin-right: 3px;
}
.paperManage .form {
  width: 100%;
}
.paperManage .formhead {
  height: 60px;
  line-height: 60px;
  text-align: center;
  overflow: hidden;
  zoom: 1;
}
.paperManage .formhead span,
.formhead select,
.formhead a {
  height: 30px;
  vertical-align: middle;
  display: inline-block;
  line-height: 30px;
  margin-right: 5px;
  font-weight: bold;
}
.paperManage .formhead select {
  width: 100px;
}
.paperManage .lookbtn {
  width: 100px;
  height: 30px;
  text-decoration: none;
  color: blue;
  background: deepskyblue;
  border-radius: 14px;
  line-height: 30px;
  text-align: center;
  color: white;
}
.paperManage .look:after {
  clear: both;
}
.paperManage .usernews {
  margin: 0 auto;
  height: auto;
  overflow: hidden;
  width: 90%;
  position: relative;
}
.paperManage .usernews li {
  float: left;
  margin-right: 8px;
  background: deepskyblue;
  border-radius: 5px;
  color: white;
  text-align: center;
  transition: all 0.1s linear;
  width: 11%;
  height: 30px;
  line-height: 30px;
  position: re;
}
.paperManage .usernews li:hover {
  transform: rotate(2deg);
  cursor: pointer;
}
.paperManage .usernews li a {
  color: white;
}
.paperManage .usernews .show-usernews {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  padding: 5px;
  background: yellow;
  height: 100px;
}
.paperManage .looktest {
  color: orangered;
  cursor: pointer;
}
.paperManage .look-test {
  cursor: pointer;
  font-style: normal;
}
.paperManage .look-test:hover {
  color: deepskyblue;
}
.paperManage .testbody {
  margin-top: 10px;
  border-top: 1px solid deepskyblue;
  padding: 20px;
}
.paperManage .testbody li {
  margin-bottom: 5px;
  display: block;
  overflow: hidden;
  zoom: 1;
  padding: 5px;
}
.paperManage .testbody li i {
  border-bottom: 5px solid cornflowerblue;
  heihgt: 30px;
  background: lightskyblue;
  border-radius: 10px;
  line-height: 30px;
  width: 100px;
  display: inline-block;
  text-align: center;
  color: white;
  font-weight: bold;
}
.paperManage .testbody li div {
  padding: 5px 0;
  margin-top: 10px;
  color: black;
  background: white;
}
.submitp {
  width: 100px;
  margin: 0 auto;
}
.pass,
.back {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 100%;
  margin: 0 auto;
  font-size: 14px;
  color: darkblue;
  line-height: 36px;
  text-align: center;
  background: white;
  border: 2px solid deepskyblue;
  cursor: pointer;
}
.pass:hover,
.back:hover {
  border: 2px solid orangered;
  background: moccasin;
  color: red;
}

/*# sourceMappingURL=maps/paperManage.css.map */
